:root{
  font-family: 'Noto Sans';
}
.Title{
  margin-bottom: 14px;
  margin-top: 20px;
  font-size: 32px;
}
.content{ 
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.Top{
  width: 1200px;
  margin: auto; 
}
.Name{
  margin-top: 40px;
  font-family: 'Noto Sans';
  font-size: 80px;
  font-weight: 400px;
  margin-bottom: 24px;
}
img{
  margin-top: 40px;
  width: 320px;
  height: 300px;
}

hr{
  width: 1200px;
  height: 0px;
  border: 2px solid;
}


.Chinese{
  width: 129px;
  height: 48px;
  font-size: 32px;
}

.English{
  margin-top:20px ;
  font-size: 24px;
  margin-left: 16px;
  font-weight: 600;
  font-family: 'Roboto'; 
  color: red;
}
.history{
  margin-top: 16px;
  font-style: normal;
  margin-bottom: 24px;
}
.introduction{ 
  font-style: normal;
  margin-bottom: 70px;
}

.education{
  line-height: 32px;
}

.Skill{
  margin-top: 64px;
  color: #FFFFFF;
  background: #678F8D;
}
.SkillContent{
  width:200px;
  margin:auto;
}
.burger{
  width: 100px;
  
}

.WorkExperience{
  width: 2000;
}
.WorkIntro{

  width: 690px;
  margin-bottom: 24px;
}

.WorkItem{
  margin-bottom: 24px;
}