:root{
  font-family: 'Noto Sans';
}
.Title{
  margin-bottom: 14px;
  margin-top: 20px;
  font-size: 32px;
}
.content{ 
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.Top{
  width: 1200px;
  margin: auto; 
}
.Buttom{
  width: 1200px;
  margin: auto;
}

.Name{
  margin-top: 40px;
  font-family: 'Noto Sans';
  font-size: 80px;
  font-weight: 400px;
  margin-bottom: 24px;
}
img{
  margin-top: 40px;
  width: 320px;
  height: 300px;
}

hr{
  width: 1200px;
  height: 0px;
  border: 2px solid;
}


.Chinese{
  width: 129px;
  height: 48px;
  font-size: 32px;
}

.English{
  margin-top:20px ;
  margin-bottom: 30px;
  font-size: 24px;
  margin-left: 16px;
  font-weight: 600;
  font-family: 'Roboto'; 
  color: red;
}
.history{
  margin-top: 16px;
  font-style: normal;
  margin-bottom: 24px;
}
.introduction{ 
  font-style: normal;
  margin-bottom: 70px;
}

.education{
  line-height: 32px;
}

.SkillColorContent{
  width:200px;
  margin:auto;
}

.ColorBack{
  margin-top: 64px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #FFFFFF;
  background: #678F8D;
}
.ColorContent{
  width:500px;
  margin:auto;
}
.burger{
  width: 100px;
  height: 100px;
}

.WorkingContent{
  padding-left: 24px;
}
.WorkExperience{
  width: 2000;
}
.WorkIntro{
  font-size: 20px;
  width: 690px;
  margin-bottom: 24px;
  line-height: 30px;
  font-weight: 300;
}
.WorkItem{
  font-size: 20px;
  margin-bottom: 24px;
}

.socialimgs{
  width: 64px;
  height: 64px;
}
.social{
  width: 100%;
}

.socialContent{
  margin: 0 auto;
  padding: 0 auto;
  width: 33%;
  text-align: center;
}
.VLine{
   border-left: 6px solid green;
  height: 500px;
}